
    <div class="container">
        <h2>Formulario de Registro</h2><br>
        <form action="/agregarCita" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Nombre:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Apellido:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Correo:</label>
                    <input type="email" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Contraseña:</label>
                    <input type="password" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Confirmar contraseña:</label>
                    <input type="password" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>¿Brindar Servicios?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Si
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Area de Trabajo:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Especialidades:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Zona de Trabajo:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Telefono:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Copia de cedula:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Foto de Perfil:</label>
                    <input type="text" name="nombre" class="form-control" id="inputEmail4" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Al aceptar, igualmente aceptas nuestro Terminos y servicios.</label>
                </div>
            </div><br>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </form>
    </div><br>
